body{
    font-family: 'Zen Maru Gothic', sans-serif;
    background-image: url(photo0000-1252.jpg);
    color: white;
    background-size: cover;

    
}
h1{
    font-family: 'Zen Maru Gothic', sans-serif;
    text-align: center;
    border-color:rgb(133, 14, 252)        
}
h3{
 color: blue;
}
a{
    color: rgb(255, 255, 255);
}
hr{
    color: blue;
    
}